/* Hero.css */
.hero {
  background: url('../assets/images/AdobeStock_82789319.jpeg') center center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.hero-content {
  text-align: center;
  z-index: 2;
  padding: 0 20px; /* Add padding for smaller screens */
}

.hero h1 {
  font-size: 4rem;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.hero-btn {
  background-color: #00b341;
  color: white;
  padding: 15px 30px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 30px; /* Rounded corners */
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.hero-btn:hover {
  background-color: #007f29;
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.hero-btn:active {
  transform: translateY(0); /* Reset when clicked */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Slightly reduced shadow on click */
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .hero-btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}
