/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #162115, #1a3e31); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  transition: background 0.3s ease; 
}

.navbar-logo img {
  height: 140px; 
  transition: transform 0.3s ease; 
}

.navbar-logo img:hover {
  transform: scale(2.41); 
}

.navbar-logo img {
  height: 80px;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative; 
  transition: color 0.3s ease; 
}

.navbar-links li a:hover {
  color: #00b341; 
}

.navbar-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px; 
  height: 2px; 
  background-color: #00b341; 
  transform: scaleX(0); 
  transition: transform 0.3s ease;
}

.navbar-links li a:hover::after {
  transform: scaleX(1); 
}

.contact-btn {
  padding: 10px 20px;
  border: none;
  background-color: #00b341; 
  color: white; 
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px; 
  text-decoration: none; 
  transition: all 0.3s ease-in-out; 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
}

.contact-btn:hover {
  background-color: #007f29; 
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  text-decoration: none; 
  color: white; 
}

.contact-btn:active {
  transform: translateY(0); 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
  color: white; 
}
